:root {
  --white: #eaf2ef;
  --black: #0b090a;
  --teal: #00a9a5;
  --red: #e35d6a;
}

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  scroll-padding: 5.5vh;
}

body {
  background: var(--black);
  height: 99vh;
  overflow: hidden;
}

section {
  width: 80vw;
  min-height: 85vh;
  margin: 4vh auto;
  padding: 2vh 2vw;
  border-radius: 25px;
  text-align: center;
  background: var(--white);
  display: grid;
}

.index {
  height: 85vh;
  padding: 2vh 2vw;
  margin: 5vh auto;
}

.heading > h1 {
  color: var(--red);
  font-size: 3vh;
}

.home {
  align-content: space-evenly;
}

.main {
  display: grid;
  align-items: center;
}

.Nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2vh 2vw;
  background: var(--red);

  border-radius: 20px;
}

.Nav > p > a,
.Nav > a {
  padding: 10px;
  text-decoration: none;
  color: var(--white);
}

.links,
.linksmall {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.links > p {
  font-size: 3vh;
  margin: 1vh 1vw;
  height: 10vh;
  width: 35vw;
  padding: 1vh 1vw;
  background: var(--teal);
  border-radius: 25px;
  align-content: center;
  text-align: center;
}

.linksmall > p {
  font-size: 3vh;
  margin: 1vh 1vw;
  height: 10vh;
  width: 20vw;
  padding: 1vh 1vw;
  background: var(--teal);
  border-radius: 25px;
  align-content: center;
  text-align: center;
}

.links > a,
.links > p > a,
.linksmall > p > a,
.linksmall > a {
  text-decoration: none;
  color: var(--white);
}

.audio {
  min-height: 75vh;
  max-height: 80vh;
  display: grid;
  align-items: center;
  overflow: auto;
}

.writing {
  align-content: center;
  max-width: 35vw;
}

summary {
  background: var(--red);
  color: var(--white);
  font-size: 2vh;
  border: 3px var(--teal) solid;
  border-radius: 25px;
  margin: 10px;
  padding: 25px;
}

details[open] {
  border-bottom: 2px solid var(--black);
  border-radius: 25px;
}

audio {
  background: var(--teal);
  margin: 4vh 4vw;
  padding: 2vh;
  border-radius: 50px;
  transition: background 2s ease;
}

audio:hover {
  background: linear-gradient(
    45deg,
    var(--teal),
    var(--white),
    var(--red),
    var(--white)
  );
  animation: changebg 30s ease infinite;
  background-size: 400% 400%;
  transition: background 2s ease;
}

@keyframes changebg {
  0% {
    background-position: 0% 50%;
    background-size: 400% 400%;
  }
  50% {
    background-position: 100% 50%;
    background-size: 200% 200%;
  }
  100% {
    background-position: 0% 50%;
    background-size: 400% 400%;
  }
}

.content {
  text-align: left;
  min-height: 25vh;
  display: grid;
}

.h3 {
  font-size: 1.5vh;
}

.contentTopic > h1,
.listening-integrated > .audio > h1,
.listening-integrated > .audio > .heading > h1,
.listening-integrated > .audio > .content > h2 {
  font-size: 2.5vh;
}

.contentTopic > h1 {
  color: var(--teal);
}

.contentText > h2 {
  font-size: 2vh;
  text-align: left;
  padding: 20px;
}

.teal {
  color: var(--teal);
}

.red {
  color: var(--red);
}

.black {
  color: var(--black);
}

.spacer {
  padding: 15px;
}

.question-list {
  border-bottom: solid var(--red) 2px;
}

iframe {
  border-radius: 25px;
}

.listening-integrated {
  display: flex;
}

.listening-integrated > .audio {
  width: 50%;
  border: solid var(--black) 2px;
  padding: 25px;
  margin: 0px auto;
  text-align: left;
}

.listening-integrated > .audio > .audio-track {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 45vw;
}

iframe {
  width: 650px;
  height: 500px;
}

.form {
  background: var(--black);
  border: 2px solid var(--teal);
  height: 70%;
  border-radius: 25px;
}

label {
  color: var(--white);
  font-size: 2vh;
  padding: 20px;
  display: block;
}

input {
  width: 400px;
  height: 35px;
  border-radius: 10px;
}

.answerFullTest{
  width: 250px;
}

textarea {
  border-radius: 10px;
}

.grade {
  width: 95%;
}

input::placeholder,
textarea::placeholder {
  color: var(--teal);
  font-size: 2vh;
  padding: 20px;
  text-align: center;
}

.submitButton {
  width: 200px;
  height: 45px;
  margin: 25px;
  background: var(--red);
  transition: all 1s ease;
}

.submitButton:hover {
  background: var(--teal);
}

.writing-note {
  width: 75vw;
  padding: 25px;
}

.textbox {
  height: 15vh;
}

.writing-textbox > input {
  height: 15vh;
}

.singleLine {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 750px) {
  * {
    scroll-padding: 5vh;
  }

  section {
    width: 90vw;
    min-height: 90vh;
  }

  .listening-integrated {
    display: grid;
    max-height: 80vh;
    overflow: auto;
  }

  .listening-integrated > .audio {
    width: 80vw;
    padding: 5px;
    border: none;
    min-height: 35vh;
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-top: solid var(--black) 2px;
  }

  .listening-integrated > .audio > .audio-track {
    max-width: 80vw;
  }

  .links > p {
    width: 30vw;
    font-size: 3vw;
  }

  .Nav > a {
    font-size: 2vw;
  }

  .heading > h1 {
    font-size: 3vw;
  }

  .audio-track > h1 {
    font-size: 3vw;
  }

  .contentTopic > h1,
  .listening-integrated > .audio > h1,
  .listening-integrated > .audio > .heading > h1,
  .listening-integrated > .audio > .content > h2 {
    font-size: 3vw;
  }

  .contentText > h2 {
    font-size: 2.5vw;
  }

  .Nav {
    flex-wrap: wrap;
  }

  .audio {
    min-height: 70vh;
  }

  audio {
    padding: 1vh 2vw;
  }

  iframe {
    width: 300px;
    height: 500px;
  }
}
