
:root{
    --white: #EAF2EF;
    --black : #0b090a;
    --teal : #00A9A5;
    --red : #E35D6A;
}

*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    scroll-padding: 5.5vh;
}

body{
    background: var(--black);
    height: 99vh;
    overflow: hidden;
}

section{
    width: 80vw;
    min-height: 85vh;
    margin: 4vh auto;
    padding: 2vh 2vw;
    border-radius: 25px;
    text-align: center;
    background: var(--white);
    display: grid;
}

.index{
    height: 85vh;
    padding: 2vh 2vw;
    margin: 5vh auto;
}

.heading>h1{
    color: var(--red);
    font-size: 3vh;
}

.home{
    align-content: space-evenly;
}

.main{
    display: grid;
    align-items: center;
}

.Nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2vh 2vw;
    background: var(--red);
    
    border-radius: 20px;
}

.Nav>p>a, .Nav>a{
    padding: 10px;
    text-decoration: none;
    color: var(--white);
}

.links{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.links>p{
    font-size: 3vh;
    margin: 1vh 1vw;
    height: 10vh;
    width: 35vw;
    padding: 1vh 1vw;
    background: var(--teal);
    border-radius: 25px;
    align-content: center;
    text-align: center;
}

.links>a,.links>p>a{
    text-decoration: none;
    color: var(--white);
}

.audio{
    min-height: 75vh;
    display: grid;
    align-items: center;
}

audio {
    background: var(--teal);
    margin: 4vh 4vw;
    padding: 2vh;
    border-radius: 50px;
    transition: background 2s ease;
  }
  
  audio:hover {
    background: linear-gradient(45deg, var(--teal), var(--white), var(--red), var(--white));
    animation: changebg 30s ease infinite;
    background-size: 400% 400%;
    transition: background 2s ease;
  }
  
  @keyframes changebg {
    0% {
      background-position: 0% 50%;
      background-size: 400% 400%;
    }
    50% {
      background-position: 100% 50%;
      background-size: 200% 200%;
    }
    100% {
      background-position: 0% 50%;
      background-size: 400% 400%;
    }
  }


.content{
    text-align: left;
    min-height: 25vh;
    display: grid;
}

.contentTopic>h1{
    color: var(--teal);
    font-size: 2.5vh;
}

.contentText>h2{
    font-size: 2vh;
}

.teal{
    color: var(--teal);
}

.spacer{
    min-height: 1vh;
}

.question-list{
    border-bottom: solid var(--red) 2px;
}

iframe{
    border-radius: 25px;
}

.listening-integrated{
    display: flex;
}

.listening-integrated>.audio{
    width: 50%;
    border: solid var(--black) 2px;
    padding: 25px;
    margin: 0px auto;
    text-align: left;
}

.listening-integrated>.audio>.audio-track{
    display: grid;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 750px) {
    *{
        scroll-padding: 5vh;
    }
    
    section{
        width: 90vw;
        min-height: 90vh;
    }

    .links>p{
        width: 30vw;
        font-size: 3vw;
    }

    .Nav>a{
        font-size: 2vw;
    }

    .heading>h1{
        font-size: 3vw;
    }

    .audio-track>h1{
        font-size: 3vw;
    }

    .contentTopic>h1{
        font-size: 3vw;
    }
    
    .contentText>h2{
        font-size: 2.5vw;
    }
    
    .Nav{
        flex-wrap: wrap;   
    }

    .audio{
        min-height: 70vh;
    }

    audio{
        padding: 1vh 2vw;
    }
}